<section id="associazione" class="wrapper style2">
  <div class="inner">
    <header class="align-center">
      <h2>La nostra Associazione</h2>
    </header>
    <div class="flex flex-3">
      <div class="col align-center">
        <div class="image round fit">
          <a href="statuto"><img src="/images/logo/logostatuto.svg" alt="" /></a>
        </div>
        <h3>Statuto</h3>
        <a href="statuto" class="button">Vedi</a>
      </div>
      <div class="col align-center">
        <div class="image round fit">
          <a href="ormeggi"><img src="/images/logo/logoormeggio.svg" alt="" /></a>
        </div>
        <h3>Regol. Ormeggi</h3>
        <a href="ormeggi" class="button">Vedi</a>
      </div>
      <div class="col align-center">
        <div class="image round fit">
          <a href="direttivo"><img src="/images/logo/logodirettivo.svg" alt="" /></a>
        </div>
        <h3>Direttivo</h3>
        <a href="direttivo" class="button">Vedi</a>
      </div>
    </div>
  </div>
</section>