<!-- Banner -->
<section id="banner">
	<div class="inner containerbirds">
		<header>
			<div class="bird-container bird-container--one">
				<div class="bird bird--one"></div>
			</div>
			<div class="bird-container bird-container--two">
				<div class="bird bird--two"></div>
			</div>
			<div class="bird-container bird-container--three">
				<div class="bird bird--three"></div>
			</div>
			<div class="bird-container bird-container--four">
				<div class="bird bird--four"></div>
			</div>

			<div class="logoimg"></div>
			<!-- <h1>{{ page.title }}</h1> -->
			<p>{{ page.tag }}</p>
			<a href="#main" class="button scrolly">Continua</a>
		</header>
	</div>
</section>