<!-- Header -->
<header id="header" class="{{ include.content }}">
	<div class="logo">
		<!-- <a href="index.html">{{ site.title }}</a> -->
	</div>
	<a href="#menu">Menu</a>

	<div class="logoright">
		<a href="/index"><img src="/images/logo/logoright.png"></a>
	</div>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="/index">Home</a></li>
		<li><a href="/index#news" class="scrolly">Le nostre News</a></li>
		<li><a href="/index#associazione" class="scrolly">La nostra Associazione</a></li>
		<li><a href="/index#storia" class="scrolly">La nostra Storia</a></li>
		<li><a href="/gallery">Galleria Fotografica</a></li>
		<li><a href="#footer" class="scrolly">Contatti</a></li>
		<li><a href="/dovesiamo">Dove siamo</a></li>
		<!-- <li><a href="elements.html" class="scrolly">Elements</a></li> -->
	</ul>
</nav>