<!-- Header -->
<header id="header" class="{{ include.content }}">
	<div class="logo"></div>
	<a href="#menu">Menu</a>

	<div class="logoright">
		<a href="/index"><img src="/images/logo/logonautisetteright.png"></a>
	</div>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="/index">Home</a></li>
		<li><a href="/index#news" class="scrolly">Le nostre News</a></li>
		<li><a href="/index#associazione" class="scrolly">La nostra Associazione</a></li>
		<li><a href="/index#storia" class="scrolly">La nostra Storia</a></li>
		<li><a href="/index#download" class="scrolly">Area Download</a></li>
		<li><a href="/index#meteo" class="scrolly">Meteo in Laguna</a></li>
		<li><a href="/index#linksutili" class="scrolly">Links Utili</a></li>
		<li><a href="/gallery">Galleria Fotografica</a></li>
		<li><a href="#footer" class="scrolly">Contatti</a></li>
		<li><a href="/dovesiamo">Dove Siamo</a></li>
	</ul>
</nav>