<section id="linksutili" class="wrapper style2">

  <div class="inner">
    
    <header class="align-center">
      <h2>Links utili</h2>
    </header>

    <div class="flex flex-2">
      <div class="col align-center">
        <div class="row">
          <div class="4u">
            <div class="image round fit">
              <img src="/images/logo/logoguardiacostiera.svg" alt="" />
            </div>
          </div>
          <div class="8u">
            <ul class="alt">
              <li>Dolor pulvinar etiam magna etiam.</li>
              <li>Sagittis adipiscing lorem eleifend.</li>
              <li>Felis enim feugiat dolore viverra.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col align-center">
        <div class="row">
          <div class="4u">
            <div class="image round fit">
              <img src="/images/logo/logoguardiacostiera.svg" alt="" />
            </div>
          </div>
          <div class="8u">
            <ul class="alt">
              <li>Dolor pulvinar etiam magna etiam.</li>
              <li>Sagittis adipiscing lorem eleifend.</li>
              <li>Felis enim feugiat dolore viverra.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  

</section>
