<section id="linksutili" class="wrapper style2">

  <div class="inner">
    
    <header class="align-center">
      <h2>Links utili</h2>
    </header>

    <div class="flex flex-2">

      <div class="col">
        <div class="row box">
          <div class="4u">
            <div class="image round fit">
              <img src="/images/logo/logoguardiacostiera.svg" alt="" />
            </div>
          </div>
          <div class="8u">
            <h3>Guardia Costiera di Grado</h3>
            <ul class="alt">
              <li><a href="http://www.guardiacostiera.gov.it/grado/modulistica" target="_blank">Normativa e Modulistica.</a></li>
              <li><a href="http://www.guardiacostiera.gov.it/grado/Pages/ordinanze.aspx" target="_blank">Ordinanze ed Avvisi.</a></li>
              <li><a href="/comanditerritorialifvg">Comandi Territoriali del Friuli.</a></li>
              <li><a href="http://www.guardiacostiera.gov.it/servizi-al-cittadino/1530" target="_blank">Emergenza Mare 1530.</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="row box">
          <div class="4u">
            <div class="image round fit">
              <img src="/images/logo/logocomunegrado.svg" alt="" />
            </div>
          </div>
          <div class="8u">
              <h3>Comune di Grado</h3>
            <ul class="alt">
              <li><a href="https://www.comunegrado.it/attachments/article/1651/REGOLAMENTO%20PESCA%20IN%20LAGUNA%20A%20GRADO.pdf" target="_blank">Regolamento Pesca in Laguna</a></li>
              <li><a href="https://www.comunegrado.it/attachments/article/1651/Delimitazione%20Laguna%20di%20Grado%20-%20pesca.pdf" target="_blank">Delimitazione Pesca in Laguna</a></li>
              <li><a href="https://www.comunegrado.it/attachments/article/1651/Comunicazione%20permesso%20di%20pesca%20non%20professionale.pdf" target="_blank">Permesso di Pesca non Prof.</a></li>
              <li><a href="https://www.comunegrado.it/attachments/article/1651/Comune%20di%20Grado%20-%20deliberazione%2082-2019.pdf" target="_blank">Approvazione Tariffe Pesca non Prof.</a></li>
              </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="flex flex-2">

        <div class="col">
          <div class="row box">
            <div class="4u">
              <div class="image round fit">
                <img src="/images/logo/logoetpi.svg" alt="" />
              </div>
            </div>
            <div class="8u">
              <h3>Ente Tutela Patrimonio Ittico</h3>
              <ul class="alt">
                <li><a href="http://www.entetutelapesca.it/cms/it/" target="_blank">Home Page dell'Ente.</a></li>
                <li><a href="http://www.entetutelapesca.it/cms/it/istituzionale/documentazione/notiziario/" target="_blank">Notiziario Pesca ed Ambiente.</a></li>
                <li><a href="http://www.entetutelapesca.it/export/sites/default/it/temi/pesca_sportiva/allegati/maree.pdf" target="_blank">Marea Astronomica 2019.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  </div>

</section>
