<section id="meteo" class="wrapper style1 flex">
  <header class="inner align-center">
    <h1>Le meteo in laguna</h1>
  </header>
  <iframe class="inner col " style="border: 2px solid #299ADB;" width="896" height="504" 
    src="https://embed.windy.com/embed2.html?lat=45.657&lon=13.375&zoom=10&level=surface&overlay=wind&menu=&message=true&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=45.680&detailLon=13.390&metricWind=default&metricTemp=default&radarRange=-1" 
    frameborder="0">
  </iframe>
  <p class="inner align-center" style="margin-top: 10px; font-style:italic;">Mappa interattiva - Cliccare sulla localita' desiderata per visualizzarne le previsioni</p>
</section>