<section id="meteo" class="wrapper style1 flex">
  <header class="inner align-center">
    <h1>Le meteo in laguna</h1>
  </header>
  <iframe class="innerframe" style="border: 2px solid #299ADB;" height="504" 
    src="https://embed.windy.com/embed2.html?lat=45.718&lon=13.275&zoom=11&level=surface&overlay=wind&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=45.718&detailLon=13.275&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1" 
    frameborder="0">
  </iframe>
  <p class="inner align-center" style="margin-top: 10px; font-style:italic;">Mappa interattiva - Cliccare sulla localita' desiderata per visualizzarne le previsioni</p>
</section>