<section id="storia" class="wrapper style1">
  <div class="inner">
    <header class="align-center">
      <h2>Cenni Storici</h2>
    </header>
    <div class="flex flex-2">
      <div class="col col1">
        <div class="image round fit">
          <a href="storia"><img src="/images/sede.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col col2">
        <p>È il 20 dicembre del 1973 quando i Soci Fondatori, a seguito di un'iniziativa di un ristretto
          numero di persone, si riuniscono ad Aquileia presso un noto locale della cittadina.</p>
        <p>Dopo poco meno di un mese, il 16 gennaio 1974 ad Aquileia, si tiene l'Assemblea Costitutiva con l'elezione del
          primo Consiglio Direttivo.</p>
        <p>Quindi il 15 febbraio del 1974 la Società Nautica Settima Zona (chiamata Nautisette) nasce ufficialmente
          con atto costitutivo redatto a Cervignano (Reg 15/3/1974 n.217 - Mod, I - Vol. 40).</p>
        <p>La prima assemblea generale ha luogo il 28 giugno 1974, al Campeggio Internazionale di Belvedere Pineta.</p>
        <a href="storia" class="button align-center">Continua</a>
      </div>
    </div>
  </div>
</section>